.oferta {
    background-color: rgb(119, 187, 172);
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
}

.precio {
    font-size: 2rem;
}

/* 
* Mobile first , primero se define el estilo para móviles y luego se van agregando estilos para pantallas más grandes
* los media queries van de menor a mayor
 */

@media (min-width: 600px) {
    .oferta {
        max-width: 40rem;
        margin: 0 auto;
    }

    .precio {
        font-size: 4rem;
    }
}

@media (min-width: 800px) {
    .oferta {
        max-width: 60rem;
    }
}